<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='confirmation_page.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">

        <div class="jumbotron text-center full-height">
            <h1>Thank you</h1>
            <p><em>Your registration has been confirmed through < {{ email }} ></em></p>
        </div>

        <footer class="text-center">
            <hr>
            <P><a href="http://blog.tecladocode.com/" target="_blank">Teclado</a></P>
        </footer>

    </div>
    
</body>
</html>