*{
    box-sizing: border-box; /* Para que se calcule el tamano del elemento incluyendo el padding y el borde */
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px;
}